*{
    margin: 0%;
    padding: 0%;
}
.m{
    background-color: black;
    width: 100%;
    height: 100%;
    color: aliceblue;
    
}
.loc{
    background-color: black;
    width: 100%;
    height: 100%;
    color: aliceblue;
    margin-left: 100px;
    padding-top: 80px;
    font-size: 30px;
    font-style: italic;
}
.map{
    border: 2px solid red;
    height: 510px;
    width: 770px;
}
.icon{
    border: 2px solid red;
    height: 50px;
    width: 30px;
    color: rgb(206, 14, 14);
}